<tr style="height: 20px">
    <td>
    </td>
</tr>
<?php if (!empty($NotUpdated)) echo '<tr>
    <td></td>
    <td class="alert alert-info">'; ?>
        <?php
        if ($NotUpdated=="Not translated")
            echo 'This page has not yet been translated, if you are interested to translate this page, please <a href="mailto:info@mediaarea.net"> contact me</a>';
        else if ($NotUpdated=="Bad translation")
            echo 'This page was translated by a non-native language translator, if you are interested to translate this page well, please <a href="mailto:info@mediaarea.net">contact me</a>';
        else if ($NotUpdated=="English")
            echo 'Translation / localisation editing by <a href="http://hibrasil.biz">Hibrasil</a>';
        else if (!empty($NotUpdated))
            echo 'This page has not yet been updated from the actual english page, if you are interested to translate this page, please <a href="mailto:info@mediaarea.net">contact me</a><br/>
        Items not updated :'.$NotUpdated; ?>
    <?php if (!empty($NotUpdated)) echo '</td>
</tr>
'; ?>
