<?php include $Path."/_/Template/Default/Head.html";
if (isset($Body_Tag))
    echo "<body ".$Body_Tag.">";
else
    echo "<body>";
?>
    <table>
        <tbody>
            <tr style="height: <?php if (!isset($Donated)) echo '90'; else echo '0'; ?>px">
                <td style="width: 250px">
                    <?php if (!isset($Donated)) echo '<a href="/"><img src="/_/img/MediaInfo_90x90.png" alt="MediaInfo, multimedia data manager" height="90" width="90" /></a>'; ?>
                </td>
                <td class="Banner_Top_Background">
                    <?php if (!isset($Donated)) include $Path."/_/Ad/TopOfThePage_970_90.html"; ?>
                    <?php /*include $Path."/_/Template/Default/Path.html";*/ ?>
                </td>
            </tr>
            <tr>
                <td colspan="2"> <?php include $Path."/_/Template/Default/Languages.html"; ?></td>
            </tr>
        </tbody>
    </table>
    <table style="margin-top: 18px">
        <tbody>
            <tr>
                <td rowspan="2" colspan="2" class="sidebar">
                    <?php if (isset($Donated)) echo '<a href="/"><img src="/_/img/MediaInfo_90x90.png" alt="MediaInfo, multimedia data manager" width="90" height="90"/></a>'; ?>
                    <?php include $Path."/_/Template/Default/Sidebar.html"; ?>
                </td>
                <td>
