<table class="Menu">
    <tbody>
        <tr>
            <?php
            if ($Language=="fa")
                echo '<td class="Top_Middle_rtl"></td>';
            else
                echo '<td class="Top_Middle_ltr"></td>';
            ?>
        </tr>
        <tr>
            <td class="Menu0 Text">
                <?php if ($Level!=1 || ($Page_Exploded[2]!="MediaInfo.html" && $Page_Exploded[2]!="MediaInfo_MacAppStore.html")) echo '<a href="/'.$Language.'/MediaInfo">'.$Menu_About.'</a>'; else echo $Menu_About; ?>
            </td>
        </tr>
        <tr>
            <td class="Menu1 Text">
                <?php if ($Level!=2 || $Page_Exploded[3]!="Download.html") echo '<a href="/'.$Language.'/MediaInfo/Download">'.$Menu_Download.'</a>'; else echo $Menu_Download; ?>
            </td>
        </tr>
        <tr>
            <td class="Menu2 Text">
                <?php if ($Level!=2 || $Page_Exploded[3]!="Screenshots.html") echo '<a href="/'.$Language.'/MediaInfo/Screenshots">'.$Menu_Screenshots.'</a>'; else echo $Menu_Screenshots; ?>
            </td>
        </tr>
        <tr>
            <td class="Menu3 Text">
                <?php if ($Level!=2 || $Page_Exploded[3]!="Donate.html") echo '<a href="/'.$Language.'/MediaInfo/Donate">'.$Menu_Donate.'</a>'; else echo $Menu_Donate; ?>
            </td>
        </tr>
        <tr>
            <td class="Menu4 Text">
                <?php if ($Level!=2 || $Page_Exploded[3]!="Support.html") echo '<a href="/'.$Language.'/MediaInfo/Support">'.$Menu_Support.'</a>'; else echo $Menu_Support; ?>
            </td>
        </tr>
        <tr>
            <td class="Menu5 Text">
                <?php if ($Level!=2 || $Page_Exploded[3]!="Testimonials.html") echo '<a href="/'.$Language.'/MediaInfo/Testimonials">'.$Menu_Testimonials.'</a>'; else echo $Menu_Testimonials; ?>
            </td>
        </tr>
    </tbody>
</table>
<br/>
<?php include $Path."/_/Ad/Flattr.html"; ?>
<br/>
<?php include $Path."/_/Ad/FaceBookLike.html"; ?>
<br/>
<?php include $Path."/_/Ad/GooglePlusOne.html"; ?>
<br/>
<?php include $Path."/_/Ad/TweetLike.html"; ?>
<br/>
<?php include $Path."/_/Ad/Search_Google.html"; ?>
<br/>
<?php if (!isset($Donated)) include $Path."/_/Ad/BottomOfTheMenu_250_250_Google.html"; ?>
