<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $Language; ?>" lang="<?php echo $Language; ?>">
<head>
	<title><?php echo $Title; ?></title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="identifier-url" content="http://mediainfo.sourceforge.net" />
	<meta name="revisit-after" content="15 days" />
	<meta name="robots" content="index,follow" />
	<meta name="description" lang="<?php echo $Language; ?>" content="<?php echo $Description; ?>" />
	<meta name="abstract" lang="<?php echo $Language; ?>" content="<?php echo $Description; ?>" />
	<meta name="keywords" lang="<?php echo $Language; ?>" content="<?php echo $Keywords; ?>" />
	<meta name="language" content="<?php echo $Language; ?>" />
	<link rel="icon" type="image/png" href="/_/Image/Icon.png" />
	<link rel="shortcut icon" type="image/x-icon" href="/_/Image/Icon.ico" />
	<link rel="stylesheet" type="text/css" href="/_/CSS/Default.min.css" title="Default" />
	<link rel="alternate" type="text/html" title="MediaInfo" hreflang="en" href="/en" />
	<link rel="alternate" type="text/html" title="MediaInfo" hreflang="fr" href="/fr" />
	<link rel="alternate" type="text/html" title="MediaInfo" hreflang="de" href="/de" />
	<link rel="alternate" type="text/html" title="MediaInfo" hreflang="it" href="/it" />
	<link rel="alternate" type="text/html" title="MediaInfo" hreflang="hu" href="/hu" />
	<link rel="alternate" type="text/html" title="MediaInfo" hreflang="ru" href="/ru" />
	<link rel="top" title="MediaInfo" href="http://mediainfo.sourceforge.net<?php echo $Top; ?>" />
	<link rel="author" href="mailto:info@mediaarea.net" title="<?php echo $MailTo; ?>" />
	<link rel="up" href=".." title="MediaInfo" />
	<script src="/_/JavaScript/Utils.min.js" type="text/javascript"></script>
<?php include $Path."/_/Ad/GoogleAnalytics.html"; ?>
<?php if (isset($Head_ToAdd)) echo $Head_ToAdd; ?>
</head>
