   </td>
  </tr>
  <?php include $Path."/_/Template/Default/Help.html"; ?>
 </tbody>
</table>
<p />

<table class="Banner_Bottom" style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
 <tbody>
  <tr>
   <td colspan="3" style="background-color: #b8b8b8; height: 1px"></td>
  </tr>
  <tr>
   <td colspan="3" style="background-color: #b8b8b8; height: 1px"></td>
  </tr>
 </tbody>
</table>

<table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
 <tbody>
  <tr>
   <td align="center">
	<a href="https://sourceforge.net/projects/mediainfo" rel="nofollow"><img src="http://sourceforge.net/sflogo.php?group_id=86862;type=1" width="88" height="31" alt="SourceForge" /></a>
   </td>
  </tr>
  <tr>
   <td align="center">
	<img src="/_/Image/External/1x1_1.png" width="1" height="1" alt="" />
	<img src="/_/Image/External/1x1_2.png" width="1" height="1" alt="" />
	<img src="/_/Image/External/1x1_3.png" width="1" height="1" alt="" />
	<img src="/_/Image/External/1x1_4.png" width="1" height="1" alt="" />
   </td>
  </tr>
 </tbody>
</table>

</body>
</html>

