	<div class="FlagsAround">
	 <?php
	 $REQUEST_URI_Exploded=explode ("/", $_SERVER["REQUEST_URI"]);
	 $REQUEST_URI_Exploded[1]="be";
	 $Menu_Language_be=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="bg";
	 $Menu_Language_bg=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="ca";
	 $Menu_Language_ca=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="de";
	 $Menu_Language_de=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="en";
	 $Menu_Language_en=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="es";
	 $Menu_Language_es=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="fa";
	 $Menu_Language_fa=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="fr";
	 $Menu_Language_fr=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="hu";
	 $Menu_Language_hu=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="hr";
	 $Menu_Language_hr=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="ka";
	 $Menu_Language_ka=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="ko";
	 $Menu_Language_ko=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="id";
	 $Menu_Language_id=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="it";
	 $Menu_Language_it=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="ja";
	 $Menu_Language_ja=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="lt";
	 $Menu_Language_lt=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="nl";
	 $Menu_Language_nl=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="pl";
	 $Menu_Language_pl=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="pt";
	 $Menu_Language_pt=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="pt-BR";
	 $Menu_Language_pt_BR=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="ru";
	 $Menu_Language_ru=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="sv";
	 $Menu_Language_sv=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="sq";
	 $Menu_Language_sq=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="th";
	 $Menu_Language_th=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="uk";
	 $Menu_Language_uk=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="zh-CN";
	 $Menu_Language_zh_CN=implode("/", $REQUEST_URI_Exploded);
	 $REQUEST_URI_Exploded[1]="zh-TW";
	 $Menu_Language_zh_TW=implode("/", $REQUEST_URI_Exploded);
	 ?>
		<a href="<?php echo $Menu_Language_be; ?>"><img title="Беларуская" alt="Беларуская" width="26" height="15" src="/_/Image/Default/Flag/Belarus.png" /></a>
		<a href="<?php echo $Menu_Language_bg; ?>"><img title="Bulgarian" alt="Bulgarian" width="25" height="15" src="/_/Image/Default/Flag/Bulgaria.png" /></a>
		<a href="<?php echo $Menu_Language_ca; ?>"><img title="Català" alt="Català" width="25" height="15" src="/_/Image/Default/Flag/Catalonia.png" /></a>
		<a href="<?php echo $Menu_Language_de; ?>"><img title="Deutsch" alt="Deutsch" width="25" height="15" src="/_/Image/Default/Flag/Germany.png" /></a>
		<a href="<?php echo $Menu_Language_en; ?>"><img title="English" alt="English" width="25" height="15" src="/_/Image/Default/Flag/UK.png" /></a>
		<a href="<?php echo $Menu_Language_es; ?>"><img title="Spanish" alt="Spanish" width="25" height="15" src="/_/Image/Default/Flag/Spain.png" /></a>
		<a href="<?php echo $Menu_Language_fa; ?>"><img title="Farsi" alt="Farsi" width="25" height="15" src="/_/Image/Default/Flag/Iran.png" /></a>
		<a href="<?php echo $Menu_Language_fr; ?>"><img title="Français" alt="Français" width="25" height="15" src="/_/Image/Default/Flag/France.png" /></a>
		<a href="<?php echo $Menu_Language_hr; ?>"><img title="Hrvatski" alt="Hrvatski" width="26" height="15" src="/_/Image/Default/Flag/Croatia.png" /></a>
		<a href="<?php echo $Menu_Language_hu; ?>"><img title="Magyar" alt="Magyar" width="25" height="15" src="/_/Image/Default/Flag/Hungary.png" /></a>
		<a href="<?php echo $Menu_Language_id; ?>"><img title="Bahasa Indonesia" width="25" height="15" alt="Bahasa Indonesia" src="/_/Image/Default/Flag/Indonesia.png" /></a>
		<a href="<?php echo $Menu_Language_it; ?>"><img title="Italiano" alt="Italiano" width="25" height="15" src="/_/Image/Default/Flag/Italy.png" /></a>
		<a href="<?php echo $Menu_Language_ja; ?>"><img title="日本語" alt="日本語" width="25" height="15" src="/_/Image/Default/Flag/Japan.png" /></a>
		<a href="<?php echo $Menu_Language_ka; ?>"><img title="Georgian" alt="Georgian" width="25" height="15" src="/_/Image/Default/Flag/Georgia.png" /></a>
		<a href="<?php echo $Menu_Language_ko; ?>"><img title="Korean" alt="Korean" width="25" height="15" src="/_/Image/Default/Flag/Korea.png" /></a>
		<a href="<?php echo $Menu_Language_lt; ?>"><img title="Lithuanian" alt="Lithuanian" width="25" height="15" src="/_/Image/Default/Flag/Lithuania.png" /></a>
		<a href="<?php echo $Menu_Language_nl; ?>"><img title="Nederlands" alt="Nederlands" width="25" height="15" src="/_/Image/Default/Flag/Neederlands.png" /></a>
		<a href="<?php echo $Menu_Language_pl; ?>"><img title="Polish" alt="Polish" width="25" height="15" src="/_/Image/Default/Flag/Poland.png" /></a>
		<a href="<?php echo $Menu_Language_pt; ?>"><img title="Portuguese" alt="Portuguese" width="25" height="15" src="/_/Image/Default/Flag/Portugal.png" /></a>
		<a href="<?php echo $Menu_Language_pt_BR; ?>"><img title="Portuguese (Brazil)" width="25" height="15" alt="Portuguese (Brazil)" src="/_/Image/Default/Flag/Brazil.png" /></a>
		<a href="<?php echo $Menu_Language_ru; ?>"><img title="Русский" alt="Русский" width="25" height="15" src="/_/Image/Default/Flag/Russia.png" /></a>
		<a href="<?php echo $Menu_Language_sq; ?>"><img title="Shqip" alt="Shqip" width="25" height="15" src="/_/Image/Default/Flag/Albania.png" /></a>
		<a href="<?php echo $Menu_Language_sv; ?>"><img title="Sverige" alt="Sverige" width="25" height="15" src="/_/Image/Default/Flag/Sweden.png" /></a>
		<a href="<?php echo $Menu_Language_th; ?>"><img title="Thailandish" alt="Thailandish" width="25" height="15" src="/_/Image/Default/Flag/Thailand.png" /></a>
		<a href="<?php echo $Menu_Language_uk; ?>"><img title="Ukrainian" alt="Ukrainian" width="25" height="15" src="/_/Image/Default/Flag/Ukraine.png" /></a>
		<a href="<?php echo $Menu_Language_zh_CN; ?>"><img title="Chinese (Simplified)" alt="Chinese (Simplified)" width="25" height="15" src="/_/Image/Default/Flag/China.png" /></a>
		<a href="<?php echo $Menu_Language_zh_TW; ?>"><img title="Chinese (Traditional)" alt="Chinese (Traditional)" width="25" height="15" src="/_/Image/Default/Flag/Taiwan.png" /></a>
		<a href=""><img title="(your flag?)" alt="(your flag?)" width="25" height="15" src="/_/Image/Default/Flag/Blank.png" /></a>
	</div>
