    <div class="FlagsAround">
    <?php
        $REQUEST_URI_Exploded=explode ("/", $_SERVER["REQUEST_URI"]);
        $REQUEST_URI_Exploded[1]="en";
        $Menu_Language_en=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="fr";
        $Menu_Language_fr=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="de";
        $Menu_Language_de=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="it";
        $Menu_Language_it=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="hu";
        $Menu_Language_hu=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="ru";
        $Menu_Language_ru=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="pl";
        $Menu_Language_pl=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="nl";
        $Menu_Language_nl=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="sv";
        $Menu_Language_sv=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="zh-CN";
        $Menu_Language_zh_CN=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="zh-TW";
        $Menu_Language_zh_TW=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="bg";
        $Menu_Language_bg=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="ko";
        $Menu_Language_ko=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="pt";
        $Menu_Language_pt=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="ca";
        $Menu_Language_ca=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="lt";
        $Menu_Language_lt=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="pt-BR";
        $Menu_Language_pt_BR=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="th";
        $Menu_Language_th=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="es";
        $Menu_Language_es=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="fa";
        $Menu_Language_fa=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="sq";
        $Menu_Language_sq=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="ja";
        $Menu_Language_ja=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="id";
        $Menu_Language_id=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="be";
        $Menu_Language_be=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="hr";
        $Menu_Language_hr=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="ka";
        $Menu_Language_ka=implode("/", $REQUEST_URI_Exploded);
        $REQUEST_URI_Exploded[1]="uk";
        $Menu_Language_uk=implode("/", $REQUEST_URI_Exploded);
    ?>
        <a href="<?php echo $Menu_Language_be; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Беларуская" alt="Беларуская" class="sprite Belarus"/></a>
        <a href="<?php echo $Menu_Language_bg; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Bulgarian" alt="Bulgarian" class="sprite Bulgaria"/></a>
        <a href="<?php echo $Menu_Language_ca; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Català" alt="Català" class="sprite Catalonia"/></a>
        <a href="<?php echo $Menu_Language_de; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Deutsch" alt="Deutsch" class="sprite Germany"/></a>
        <a href="<?php echo $Menu_Language_en; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="English" alt="English" class="sprite UK"/></a>
        <a href="<?php echo $Menu_Language_es; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Spanish" alt="Spanish" class="sprite Spain"/></a>
        <a href="<?php echo $Menu_Language_fa; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Farsi" alt="Farsi" class="sprite Iran"/></a>
        <a href="<?php echo $Menu_Language_fr; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Français" alt="Français" class="sprite France"/></a>
        <a href="<?php echo $Menu_Language_hr; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Hrvatski" alt="Hrvatski" class="sprite Croatia"/></a>
        <a href="<?php echo $Menu_Language_hu; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Magyar" alt="Magyar" class="sprite Hungary"/></a>
        <!--<a href="<?php echo $Menu_Language_id; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Bahasa Indonesia" alt="Bahasa Indonesia" class="sprite Indonesia"/></a>-->
        <a href="<?php echo $Menu_Language_it; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Italiano" alt="Italiano" class="sprite Italy"/></a>
        <a href="<?php echo $Menu_Language_ja; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="日本語" alt="日本語" class="sprite Japan"/></a>
        <a href="<?php echo $Menu_Language_ka; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Georgian" alt="Georgian" class="sprite Georgia"/></a>
        <a href="<?php echo $Menu_Language_ko; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Korean" alt="Korean" class="sprite Korea"/></a>
        <a href="<?php echo $Menu_Language_lt; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Lithuanian" alt="Lithuanian" class="sprite Lithuania"/></a>
        <a href="<?php echo $Menu_Language_nl; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Netherlands" alt="Netherlands" class="sprite Netherlands"/></a>
        <a href="<?php echo $Menu_Language_pl; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Polish" alt="Polish" class="sprite Poland"/></a>
        <a href="<?php echo $Menu_Language_pt; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Portuguese" alt="Portuguese" class="sprite Portugal"/></a>
        <a href="<?php echo $Menu_Language_pt_BR; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Portuguese (Brazil)" alt="Portuguese (Brazil)" class="sprite Brazil"/></a>
        <a href="<?php echo $Menu_Language_ru; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Русский" alt="Русский" class="sprite Russia"/></a>
        <a href="<?php echo $Menu_Language_sq; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Shqip" alt="Shqip" class="sprite Albania"/></a>
        <a href="<?php echo $Menu_Language_sv; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Sverige" alt="Sverige" class="sprite Sweden"/></a>
        <a href="<?php echo $Menu_Language_th; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Thailandish" alt="Thailandish" class="sprite Thailand"/></a>
        <a href="<?php echo $Menu_Language_uk; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Ukrainian" alt="Ukrainian" class="sprite Ukraine"/></a>
        <a href="<?php echo $Menu_Language_zh_CN; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Chinese (Simplified)" alt="Chinese (Simplified)" class="sprite China"/></a>
        <a href="<?php echo $Menu_Language_zh_TW; ?>"><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="Chinese (Traditional)" alt="Chinese (Traditional)" class="sprite Taiwan"/></a>
        <a href=""><img src="/_/Image/Default/Blank.gif" width="25" height="15" title="(your language?)" alt="(your language?)" class="sprite Unknown"/></a>
    </div>
