<?php
include $Path."/_/Template/Default/Menu_List.html";
?>
<br />
<?php
include $Path."/_/Ad/Flattr.html";
?>
<br />
<?php
include $Path."/_/Ad/FaceBookLike.html";
?>
<br />
<?php
include $Path."/_/Ad/GooglePlusOne.html";
?>
<br />
<?php
include $Path."/_/Ad/TweetLike.html";
?>
<br />
<br />
<br />
<?php if (!isset($Donated))
include $Path."/_/Ad/BottomOfTheMenu_250_250_Google.html";
?>
<br />
<?php
include $Path."/_/Ad/Search_Google.html";
?>
<a name="StartContent" id="StartContent"></a>