<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td class="Top_Middle"></td>
			<td class="Top_Right"></td>
		</tr>
	</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="3" class="Middle"></td>
		</tr>
		<tr>
			<td id="Menu0" class="Text">
				<?php if ($Level!=1 || $Page_Exploded[2]!="About.html") echo '<a href="/'.$Language.'">'.$Menu_About.'</a>'; else echo $Menu_About; ?>
			</td>
			<td id="Menu0r1" class="R1"></td>
			<td id="Menu0r2" class="R2"></td>
		</tr>
		<tr>
			<td colspan="3" class="Middle"></td>
		</tr>
		<tr>
			<td id="Menu1" class="Text">
				<?php if ($Level!=1 || $Page_Exploded[2]!="Download.html") echo '<a href="/'.$Language.'/Download">'.$Menu_Download.'</a>'; else echo $Menu_Download; ?>
			</td>
			<td id="Menu1r1" class="R1"></td>
			<td id="Menu1r2" class="R2"></td>
		</tr>
		<tr>
			<td colspan="3" class="Middle"></td>
		</tr>
		<tr>
			<td id="Menu2" class="Text">
				<?php if ($Level!=1 || $Page_Exploded[2]!="Screenshots.html") echo '<a href="/'.$Language.'/Screenshots">'.$Menu_Screenshots.'</a>'; else echo $Menu_Screenshots; ?>
			</td>
			<td id="Menu2r1" class="R1"></td>
			<td id="Menu2r2" class="R2"></td>
		</tr>
		<tr>
			<td colspan="3" class="Middle"></td>
		</tr>
		<tr>
			<td id="Menu3" class="Text">
				<?php if ($Level!=1 || $Page_Exploded[2]!="Donate.html") echo '<a href="/'.$Language.'/Donate">'.$Menu_Donate.'</a>'; else echo $Menu_Donate; ?>
			</td>
			<td id="Menu3r1" class="R1"></td>
			<td id="Menu3r2" class="R2"></td>
		</tr>
		<tr>
			<td colspan="3" class="Middle"></td>
		</tr>
		<tr>
			<td id="Menu4" class="Text">
				<?php if ($Level!=1 || $Page_Exploded[2]!="Support.html") echo '<a href="/'.$Language.'/Support">'.$Menu_Support.'</a>'; else echo $Menu_Support; ?>
			</td>
			<td id="Menu4r1" class="R1"></td>
			<td id="Menu4r2" class="R2"></td>
		</tr>
		<tr>
			<td colspan="3" class="Middle"></td>
		</tr>
		<tr>
			<td id="Menu5" class="Text">
				<?php if ($Level!=1 || $Page_Exploded[2]!="Testimonials.html") echo '<a href="/'.$Language.'/Testimonials">'.$Menu_Testimonials.'</a>'; else echo $Menu_Testimonials; ?>
			</td>
			<td id="Menu5r1" class="R1"></td>
			<td id="Menu5r2" class="R2"></td>
		</tr>
	</tbody>
</table>
