/*csslint box-sizing: false, font-sizes: false, ids: false, important: false,
  qualified-headings: false, unique-headings: false*/

body {
    background-color: white;
    color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
}

em {
    font-style: italic;
}

h1 {
    font-size: medium;
}

h2,
h3,
h4 {
    font-size: small;
}

h2 {
    background-color: #F0F0F0;
}

img {
    border: 0;
}

pre {
    background-color: #FFFFC0;
    border-style: inset;
    border-width: thin;
    font-size: small;
    margin: 0 5% 0 0;
    padding: 0 5% 0 0;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
}

#Path {
    color: white;
}

#Path a {
    color: white;
    text-decoration: none;
}

#Path a:hover {
    color: white;
    text-decoration: underline;
}

#Banner_Top_Background {
    text-align: center;
    width: 100%;
}

.Note {
    background: #AAA;
    color: black;
}

.Info {
    background: #AAF;
    color: black;
    padding: 10px;
}

.Invisible {
    display: none;
}

.Warning {
    background-color: #F88;
    color: black;
}

#Menu {
    padding: 0;
    vertical-align: top;
    width: 250px;
}

#Top_Middle {
    background: url("/_/Image/Default/Top_Middle.png") repeat-x;
    width: 228px;
    height: 19px;
}

#Top_Left {
    background: url("/_/Image/Default/Top_Left.png") no-repeat;
    width: 9px;
    height: 19px;
}

#Top_Right {
    background: url("/_/Image/Default/Top_Right.png") no-repeat;
    width: 9px;
    height: 19px;
}

#Menu .Text {
    color: black;
    font-weight: bold;
    text-align: center;
    width: 237px;
    height: 30px;
}

.Text a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.Text a:hover {
    color: black;
    text-decoration: underline;
}

#Menu0,
#Menu0:hover,
#Menu1,
#Menu1:hover,
#Menu2,
#Menu2:hover,
#Menu3,
#Menu3:hover,
#Menu4,
#Menu4:hover,
#Menu5,
#Menu5:hover {
    color: black;
    -webkit-transition: background-color 0.15s linear;
       -moz-transition: background-color 0.15s linear;
         -o-transition: background-color 0.15s linear;
            transition: background-color 0.15s linear;
}

#Menu0       { background-color: #DBD696; }
#Menu1       { background-color: #D696DB; }
#Menu2       { background-color: #DBAE96; }
#Menu3       { background-color: #96D3DB; }
#Menu4       { background-color: #BADB96; }
#Menu5       { background-color: #D1C3CD; }
#Menu0:hover { background-color: #CFC873; }
#Menu1:hover { background-color: #C973CF; }
#Menu2:hover { background-color: #CF9473; }
#Menu3:hover { background-color: #73C5CF; }
#Menu4:hover { background-color: #A3CF73; }
#Menu5:hover { background-color: #C2AFBD; }

#Contents table {
    width: 100%;
}

#Contents h1 {
    margin: 0;
}

#Contents h2,
#Contents h3,
#Contents h4 {
    border-width: 0 0 1px;
    margin: 1em 0 0;
}

#Contents h2 {
    border-color: #FC8;
    border-style: solid;
}

#Contents h3 {
    border-color: #FD9;
    border-style: dashed;
}

#Contents h4 {
    border-color: #FEA;
    border-style: dashed;
}

#Contents .First {
    margin-top: 0;
}

#Contents .Paragraph_Block {
    background-color: white;
    border-color: #595D96;
    border-style: none none dotted dotted;
    border-width: 0 0 1px 1px;
    color: #000020;
    display: block;
    padding: 1px 0 .5em .5em;
}

.Address {
    background-color: #F7F5EF;
    border-color: #FF9000;
    border-style: dashed dashed dashed solid;
    border-width: 1px 1px 1px 3px;
    color: #02021E;
    margin-right: 60%;
    padding: 4px 4px 4px 20px;
}

#Contents .cppcode,
#Contents .cpplisting {
    background-color: #D5E1E8;
    border: 1px solid #84b0c7;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    width: 99%;
}

#Contents .cpplisting {
    white-space: pre;
}

#Contents .cpplisting_comment {
    color: green;
}

#Contents .cpplisting_toprovide {
    color: red;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

#FlagsAround {
    background-color: #F0F0F0;
    font-size: 20px;
    text-align: center;
}

#FlagsAround a {
    -webkit-transition: background-color 0.15s linear;
       -moz-transition: background-color 0.15s linear;
         -o-transition: background-color 0.15s linear;
            transition: background-color 0.15s linear;
}

#FlagsAround a:hover {
    background-color: #D0D0D0;
}


/* Flags images */
.Albania     { background: url("/_/Image/Default/flags.png") no-repeat 0 0; }
.Belarus     { background: url("/_/Image/Default/flags.png") no-repeat -26px 0; }
.Brazil      { background: url("/_/Image/Default/flags.png") no-repeat -52px 0; }
.Bulgaria    { background: url("/_/Image/Default/flags.png") no-repeat -78px 0; }
.Catalonia   { background: url("/_/Image/Default/flags.png") no-repeat -104px 0; }
.China       { background: url("/_/Image/Default/flags.png") no-repeat -130px 0; }
.Croatia     { background: url("/_/Image/Default/flags.png") no-repeat -156px 0; }
.France      { background: url("/_/Image/Default/flags.png") no-repeat -182px 0; }
.Georgia     { background: url("/_/Image/Default/flags.png") no-repeat -208px 0; }
.Germany     { background: url("/_/Image/Default/flags.png") no-repeat -234px 0; }
.Hungary     { background: url("/_/Image/Default/flags.png") no-repeat -260px 0; }
/*.Indonesia   { background: url("/_/Image/Default/flags.png") no-repeat -286px 0; }*/
.Iran        { background: url("/_/Image/Default/flags.png") no-repeat -312px 0; }
.Italy       { background: url("/_/Image/Default/flags.png") no-repeat -338px 0; }
.Japan       { background: url("/_/Image/Default/flags.png") no-repeat -364px 0; }
.Korea       { background: url("/_/Image/Default/flags.png") no-repeat -390px 0; }
.Lithuania   { background: url("/_/Image/Default/flags.png") no-repeat -416px 0; }
.Netherlands { background: url("/_/Image/Default/flags.png") no-repeat -442px 0; }
.Poland      { background: url("/_/Image/Default/flags.png") no-repeat -468px 0; }
.Portugal    { background: url("/_/Image/Default/flags.png") no-repeat -494px 0; }
.Russia      { background: url("/_/Image/Default/flags.png") no-repeat -520px 0; }
.Spain       { background: url("/_/Image/Default/flags.png") no-repeat -546px 0; }
.Sweden      { background: url("/_/Image/Default/flags.png") no-repeat -572px 0; }
.Taiwan      { background: url("/_/Image/Default/flags.png") no-repeat -598px 0; }
.Thailand    { background: url("/_/Image/Default/flags.png") no-repeat -624px 0; }
.UK          { background: url("/_/Image/Default/flags.png") no-repeat -650px 0; }
.Ukraine     { background: url("/_/Image/Default/flags.png") no-repeat -676px 0; }
.Unknown     { background: url("/_/Image/Default/flags.png") no-repeat -702px 0; }


/* Operating Systems images */
.ArchLinux  { background: url("/_/Image/OS/os.png") no-repeat 0 0; }
.CentOS     { background: url("/_/Image/OS/os.png") no-repeat -17px  0; }
.Debian     { background: url("/_/Image/OS/os.png") no-repeat -34px  0; }
.Fedora     { background: url("/_/Image/OS/os.png") no-repeat -51px  0; }
.Linux_Mint { background: url("/_/Image/OS/os.png") no-repeat -68px  0; }
.MacOS      { background: url("/_/Image/OS/os.png") no-repeat -87px  0; }
.Mandriva   { background: url("/_/Image/OS/os.png") no-repeat -104px 0; }
.RedHat     { background: url("/_/Image/OS/os.png") no-repeat -121px 0; }
.Ubuntu     { background: url("/_/Image/OS/os.png") no-repeat -138px 0; }
.Windows    { background: url("/_/Image/OS/os.png") no-repeat -155px 0; }
.openSUSE   { background: url("/_/Image/OS/os.png") no-repeat -172px 0; }
